{% extends 'products/base.html'  %}
{% load crispy_forms_tags %}
{% block content %}


<div class="form-container">

    <h2 class="form-heading">SIGN UP</h2>

    <form class="sign-up-form" method="POST">
        {% csrf_token %}
        <div class="each-field">
            {{ form|crispy }}
        </div>

        <div class="btn-container">
            <button type="submit" class="sbmt-btn">Submit</button>

        </div>
        <div class="redirect_account">
            <a href="{% url 'sign-in' %}">Sign in</a>
        </div>

    </form>
</div>

{% endblock%}