{% extends 'products/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="form-container create-product-main-form">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="container">
            <div class="container-row row">
                <div class="col-md-6">
                    {{ form|crispy }}
                </div>
                <!-- <div class="col-md-6">
                    {{ form.price|as_crispy_field }}
                </div> -->
            </div>
        </div>
        <div>
            <button type="submit">submit</button> </div>
    </form>
</div>
{% endblock content %}